body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  text-align: center;
  background: linear-gradient(to bottom right, #ff9a9e, #fad0c4);
  color: white;
}

h1 {
  margin-top: 40px;
  font-size: 2em;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  margin: 15px;
  cursor: pointer;
  background: #ff4d6d;
  color: white;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
}

img {
  width: 200px;
  margin: 20px;
}
.truck {
  width: 180px;
  position: absolute;
  bottom: 50px;
  left: -200px;
  animation: drive 6s linear infinite;
}

@keyframes drive {
  0% { left: -200px; }
  100% { left: 110%; }
}
